@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
}

@theme inline {
    --font-sans: var(--font-manrope);
}

html {
    font-family: var(--font-sans);
}

@layer utilities {
    .container {
        @apply w-full max-w-240 flex px-4;
    }
}

[data-theme='orgzdrav'] {
    .container {
        @apply w-full max-w-380 flex px-4;
    }
}
